[2020-04-28 23:59] SteveMacenski opened #2 "Relative Performance and Reliability"
Hi,

How performant is this? E.g. can I run this on a mobile CPU like found on a NUC or would you require an automotive grade processing power for autonomous driving? Any metrics here would be helpful.

Additionally, have you done any reliability testing to know how large of maps it can handle before having problems or edge cases? Any comparison you can make to HDL from their datasets (or any of y

[2020-04-30 08:25] rsasaki0109 commented on #2
Thank you for the issue!

Okay, I'd like to add any metrics and a more detailed description of the package.

The test is still not enough.
The code is still being refactored.
After refactoring, I would like to test it with various data and compare it with various other projects.

Oh. I had forgotten about it. Thank you. I added it.

[2020-05-20 00:05] rsasaki0109 commented on #2
Hey.
Since I finished refactoring to some extent, I tried to compare other OSSs.
I used the following data for velodyne VLP-16 from Tier IV.
It takes about 40 minutes to travel as fast as a walk on a 2km long course.
https://data.tier4.jp/rosbag_details/?id=212

## my PC Specifications
Main memory: 16GB
Clock speed: 3.5GHz
Cache memory: 8MB
Core: 4 cores

## lidarslam_ros2
This is the result of li

[2020-05-20 19:57] SteveMacenski commented on #2
Do you think that this would be suitable for a modern ~i7 mobile (laptop, NUC, etc) CPU for smaller spaces ~10,000 m2? That's about the normal for an indoor mobile robot application at around a 100k sqft (10,000 m2), they definitely get bigger, but that's probably 60% of use-cases right there.

This looks really impressive. Is there a localization mode / package you can use alongside a map this ge

[2020-05-20 21:47] rsasaki0109 commented on #2
Thank you for this very useful information to help me think about my future course of action.
It is very enlightening.

Yes, the LABTOP PC was the use case I envisioned. In fact, my PC that I tested the SLAM on is a cheap and poor one that I bought over 5 years ago. I think this SLAM will work normally for NUC.

I created a package called "pcl_localization_ros2" below, which is very simple to impl

[2020-05-21 00:45] SteveMacenski commented on #2
If you give me some instructions, I can run a high-level benchmark on a more current CPU. My laptop's a 7th gen i7, still an older model, but used on many older robots in service. That would also let me take a peak at the CPU utilization see if this is viable since the SLAM can't take up all the cores and CPU, that's just 1 process in the larger system.

Are you running any filters (PF, KF, etc) o

[2020-05-21 01:12] gbiggs commented on #2
We use NDT, but LeGO-LOAM has recently surfaced as a potential alternative.

[2020-05-21 02:35] SteveMacenski commented on #2
@gbiggs NDT isn't SLAM, its a method of matching scans. Are you telling me Autoware build maps by just buffering scans? :cringes: I've heard OK things about that too. Though if you look above, at least one this one data set, this rocks LeGO-LOAM by alot. Maybe do some benchmarks or something ....

[2020-05-21 02:44] gbiggs commented on #2
I don't know the details, unfortunately. I'm not a SLAM person. But to my knowledge, our SLAM solution is NDT.

[2020-05-21 02:48] JWhitleyWork commented on #2
Autoware doesn't have a SLAM solution. We do localization with NDT against a pre-recorded map. Same for both Autoware.ai and Autoware.Auto.

[2020-05-21 02:53] SteveMacenski commented on #2
So how does that pre-recorded map come to be? Sounds like you guys need a SLAM solution then :smile: maybe we can see if we have some requirements that match and we can explore this process together as a joint autoware-navigation project. Anyhow, this is an aside, we can follow up in another thread for that, but I wanted to bring this to your attention.

[2020-05-21 03:41] rsasaki0109 commented on #2
I wrote about how to make it work in the demo section of README.md, but is this explanation insufficient?
I'm not used to writing these instructions, so if you don't understand something, please ask me.
(I've been wondering why there haven't been more questions about INSTRUCTIONS as my github repositories get more and more stars...)

This package does not use a Gaussian filter, but it does allow y

[2020-05-21 04:35] rsasaki0109 commented on #2
@SteveMacenski
Tier IV, which is developing autoware, has a subsidiary called MAP IV, which I believe is doing the research and development of NDT SLAM.
https://twitter.com/map4_jp/status/1247851869721874433.
However, it is not enough to use the SLAM map in OSS to estimate the self-position of automatic driving, so they may buy the advance map from Mobile Mapping System company, which make high-pr

[2020-05-22 20:53] SteveMacenski commented on #2
I'll look at the instructions next week and see what I  can do / suggest.

When you say "this package" you mean the PCL localization, right? This has some type of pose-graph or filter in the backend, right?

Sounds like something we should talk about / maybe look at. What's "large" to you? You mention only working with 9 axes IMUs, you're using the mag information in this? Typically I would have t

[2020-05-22 22:27] rsasaki0109 commented on #2
OK. Have a nice weekend.

This has some type of pose-graph or filter in the backend, right?

"this package" is a lidarslam_ros2.
It has a pose graph using g2o on the backend, but it doesn't have a Gaussian filter like EKF or PF.

Below is a paper about hdl_graph_slam. lidarslam_ros2 also adopts a simple loop closure like this Algorithm1.
This corrects the relative position with scan matching,
but

[2020-05-26 21:18] SteveMacenski commented on #2
Got it on the pose-graph, that's A-OK. I thought you may have been saying that this doesn't have any structure and its just matching or something.

Your loop closure algorithm looks pretty typical so I understand. What's the maximum distance / angle off you have set before it fails to attempt a candidate (I assume that's a parameter somewhere)? That's what I mean by asking what's large. What's tha

[2020-05-27 23:55] rsasaki0109 commented on #2
・About loop closure
Yes. The loop closing algorithm of lidarslam_ros2 is typical, as you say.
The results of the above experiment show that the loop closure is successful in drifts of about 20 meters.
In my experience, I feel like it's tough at 50m.(I will test it out in detail.)

・About IMU
Oh, that's right. I was mistaken.
To be precise, lidarslam_ros2 requires an IMU to provide an orientation v

[2020-05-29 19:37] SteveMacenski commented on #2
![](https://media.giphy.com/media/VrSZDlpRaHYje/giphy.gif)

20 meters is more than OK for mobile robotics, and probably most things.

I thought you said that just did NDT matching? For something like navigation, we need a bit more reliability than that. It can do matching / ray  casting / whatever to match things, but it needs to be filtered through an EKF or particle filter to stabilize readings.

[2020-05-29 20:28] rsasaki0109 commented on #2
・About pcl_localization_ros2
I understand. So, pcl_localization_ros2 isn't good enough.

I understand.

I think the PCD format is the standard, at least in the ROS community.

For example, the PCL (Point Cloud Library) ROS interface stack, pcl_ros, stores the point cloud only in pcd format.
(The bag_to_pcd method section of 4.1)
http://wiki.ros.org/pcl_ros

hdl_graph_slam and LeGO-LOAM also save t

[2020-06-01 18:07] SteveMacenski commented on #2
That's actually really good to know that PCD is standard, that makes my life much easier.

So typically to get odometry, you have your TF buffer get you the odom to base link frame when you require it, rather than subscribing to an odometry topic and caching it. It should help in accuracy as well since TF will do time interpolation for higher accuracy odometry estimates at a given time.

[2020-06-04 02:49] rsasaki0109 commented on #2
Thank you for your advice！
I have modified the code to get the odom->base_link conversion from TF rather than from the oometry topic.
I've tested it and it certainly improved the accuracy.

modified code
https://github.com/rsasaki0109/lidarslam_ros2/blob/master/scanmatcher/src/scanmatcher_component.cpp#L296-L309
commit
https://github.com/rsasaki0109/lidarslam_ros2/commit/2354189ee006261bac480e369c

[2020-06-04 19:18] SteveMacenski commented on #2
[code]

You seem to have added the same parameter twice. Also, that parameter is misspelled. Might want to check that its not also misspelled in the code.

Wow, that's almost a meter difference! @tfoote will be happy to hear that TF improves SLAM performance so much vs a naive approach :smile:

[2020-06-04 20:33] rsasaki0109 commented on #2
Oops.
Thank you for pointing out my mistakes.
I will fix them.

[2020-06-25 22:01] SteveMacenski commented on #2
As a quick note - I haven't forgotten about this, just been really overloaded the last bit and need a couple projects to end before I can add this to my more active queue

[2020-06-29 22:58] rsasaki0109 commented on #2
Thank you for your comment in your busy time.

I ported this package to foxy, but I didn't have the package I needed, so my progress was halted.
I got the packages I needed into foxy last week, so I'm starting to commit it again.

[2020-06-29 23:30] SteveMacenski commented on #2
I'm working with some students right now to implement the 3D costmap layer to make use of 3D SLAM maps for navigation & a map server for `.pcd` files for 3D SLAM / VSLAM. So there's some movement on the integration side, but not any on the 3D SLAM testing / support side.

[2020-07-31 08:27] CAKGOD opened #18 "cannot load .bag file"
**Required Info:**

- Operating System:
  - ubuntu 20.04
- ROS2 Version:
  - ROS2 foxy

#### Steps to reproduce issue
(1) I build this framework following the[ tutorial](https://github.com/rsasaki0109/lidarslam_ros2#requirement-to-build) in the README.md.
(2) I tried running the [demo](https://github.com/rsasaki0109/lidarslam_ros2#trial-environment) and the problem occured.

#### Problem Descripti

[2020-07-31 09:46] rsasaki0109 commented on #18
The data in the demo was recorded in ros1.
To play a rosbag of ros1 on ros2, you need to install not only ros2 but also ros1.
For ubuntu 20.04, the ros1 you are installing is ros noetic.

Next, you need to install not only rosbag2 but also rosbag2_bag_v2.
https://github.com/ros2/rosbag2_bag_v2

[code]
See README.md in rosbag2_bag_v2 for details.

[2020-08-02 05:41] CAKGOD commented on #18
@rsasaki0109 Thank you very much for your help. I finally solved the problem. Both ros1 and ros2 need to be installed. In addition, the ROS 1 installation must be sourced before sourcing the ROS 2 installation to make the plugin work. The $ros2 bag info -s rosbag_v2 <path_to_bagfile> and the $ros2 bag play -s rosbag_v2 <path_to_bagfile> can be used. But the $ros2 bag record -s rosbag_v2 <topic nam

[2020-08-02 05:41] #18 closed, assigned to rsasaki0109

[2020-08-09 10:31] CAKGOD opened #19 "__init__() missing 1 required keyword-only argument: 'node_executable'"
Excuse me. I build the lidarslam_ros2 done. A problem occured when i run the command $ ros2 launch lidarslam lidarslam.launch.py. The information is as followed.

[ERROR] [launch]: Caught exception in launch (see debug for traceback): Caught exception when trying to load file of format [py]: __init__() missing 1 required keyword-only argument: 'node_executable'

System: ubuntu 18.04
ros version: r

[2020-08-09 11:02] rsasaki0109 commented on #19
Perhaps changing the "executable" part of the lidarslam.launch.py file to "node_executable" will fix the problem?
From eloquent to foxy,  "node_executable" has been renamed to "executable" and "node_executable" is now deprecated in foxy.

[2020-08-09 11:17] CAKGOD commented on #19
thank u ~  i will make a try.

[2020-08-10 06:08] CAKGOD commented on #19
It works for me. Thanks! And i will close this issue.

[2020-08-10 06:08] #19 closed, assigned to rsasaki0109

[2020-08-13 17:58] SteveMacenski commented on #2
This is being started to work on by the navigation working group in benchmarking 3D SLAM systems on datasets to find the CPU/memory usage before then testing on more representative mobile robot uses

[2020-08-21 07:22] wolegequwangge opened #20 "Will the test require modifying the Lidar parameters?"
Hi,
I found each yaml file has no Lidar parameters. Will the test require modifying the Lidar parameters?
E.g. Can I run this using kitti dataset(Velodyne HDL-64E 3D laser scanner) without modifying any parameters?
Looking forward to your reply!

[2020-08-21 07:34] rsasaki0109 commented on #20
There is no need to change the lidar parameters (VLP-16, HDL-32, etc.) in this package.

[2020-08-21 07:46] rsasaki0109 commented on #20
This package does not have the lidar parameter (VLP-16, HDL-32, etc.).
You can run it using kitti without changing any parameters.

If it doesn't work well, try changing the following parameters.
・Change vg_size_for_input or num_targeted_cloud.
・When registration_method is NDT, change ndt_resolution or ndt_num_threads.
・When registration_method is GICP, change gicp_corr_dist_threshold.

[2020-08-21 07:57] wolegequwangge commented on #20
copy that. thanks for your reply.
I will try to run this and I will seek advice from you when I meet problem.

[2020-09-04 15:34] deniz-hofmeister opened #21 "IMU alignment unclear"
Dear @rsasaki0109,

Should I follow the IMU guide given in: [https://github.com/TixiaoShan/LIO-SAM#prepare-imu-data](https://github.com/TixiaoShan/LIO-SAM#prepare-imu-data)?
I ask this since I assume I dont need to prepare the lidar data as such: [https://github.com/TixiaoShan/LIO-SAM#prepare-lidar-data](https://github.com/TixiaoShan/LIO-SAM#prepare-lidar-data) as pointCloud2 data does not carry r

[2020-09-04 21:26] rsasaki0109 commented on #21
Thanks for the good issue.

For IMU composites in this package, the lidar data does not need to include ring numbers or time like lio-sam.

Currently, the IMU composite for this package is based on Lego-LOAM.

Distortion correction by imu
lidar_undistortion.hpp
https://github.com/rsasaki0109/lidarslam_ros2/blob/foxy/scanmatcher/include/scanmatcher/lidar_undistortion.hpp

For imu-compound, you need

[2020-09-05 01:33] rsasaki0109 commented on #21
Later on I will add a imu demo using the lego-loam dataset, so please be patient.

jackal_dataset_20170608
https://github.com/RobustFieldAutonomyLab/jackal_dataset_20170608

[2020-09-05 09:32] rsasaki0109 commented on #21
My apologies.
Apparently there was a bug with respect to the IMU, which caused lidar to jump all over the place.

I've just fixed it.

If you set the scan_period to 0.1, it works fine with any of the data in the above dataset.

[2020-10-07 14:07] hunkyu opened #22 "Thanks for sharing. I read your code carefully and found that you use submap."
Thanks for sharing. I read your code carefully and found that you use submap. This idea is very good. Unfortunately, the front-end and back-end are not completely decoupled. I don't know why? Can it be improved further? Using cartographer's submap idea

[2020-10-07 20:25] rsasaki0109 commented on #22
Thanks for the good idea. You're right. I would like to improve this package. But I'm too busy right now to do it right away.

[2020-10-08 12:05] hunkyu commented on #22
I read the lio-sam version you changed and found that there is a problem with the compilation? I asked you a question, no reply

[2020-10-08 12:23] rsasaki0109 commented on #22
I responded to that.

[2020-10-10 07:04] whuzs opened #23 "map data"
hello, do you have saved map data?

[2020-10-10 07:07] rsasaki0109 commented on #23
map.pcd is saved in the workspace when the loop ends or with the following service calls.

[code]

[2020-10-10 08:37] #22 closed, assigned to rsasaki0109

[2020-10-12 07:54] #23 closed, assigned to rsasaki0109

[2021-02-27 11:19] stevemartinov opened #24 "2D LiDAR"
Will this package work with shitty LiDARs like RPLidar s1 if I will convert the output to PointCloud2 and follow the LiDAR data preparation?

[2021-02-27 11:30] rsasaki0109 commented on #24
This package does not work with 2d lidar. The scan matching probably won't work properly.

[2021-03-16 02:38] AvinashRamashray opened #25 "Other 3D LIDAR compatibility with this repository"
Hi Sasaki san

I am very new to SLAM with LIDARs.
Please let me know that is this repository is compatible with another 3D-LIDAR or only Velodyne LIDAR is supported.
By the way I have Surestar R-Fans-16 3D LIDAR.
I am able to see in lidarslam.launch.py it is mentioned for velodyne.

If I have to use another LIDAR,is it possible to use it with your repository.

Please confirm.
Looking forward to he

[2021-03-16 02:43] rsasaki0109 commented on #25
This package can be used with any rotating 3d lidar other than velodyne. I have also tested this package on robosense and ouster lidar. I don't know about the solid state lidar as I haven't tried it.

[2021-03-16 03:50] AvinashRamashray commented on #25
Thank you for your information.
Just for information:It seems my LIDAR contains motor and it is rotating.
                                I am able to set its rotating frequency in hertz also.

 I want to use this repo and  I have some queries:
1. How to integrate any rotating LIDAR to this repository?
   What things we need to do for this?

Can you please give operational steps to be performed in

[2021-03-16 04:03] rsasaki0109 commented on #25
Change the following launch and use it.

Change /velodyne_points in the following to the name of the pointcloud2 type message that the ouster driver publishes.
        remappings=[('/input_cloud','/velodyne_points')],
https://github.com/rsasaki0109/lidarslam_ros2/blob/foxy/lidarslam/launch/lidarslam.launch.py#L21

Then change /velodyne to the frame id of the pointcloud2 type message name that the

[2021-03-17 00:40] AvinashRamashray commented on #25
Thank you for your answer.I will try this.

[2021-04-13 06:57] AvinashRamashray commented on #25
Hi Sasaki san

I want to use odometry and I am using odom parameter true but getting lookuptransform error as
[scanmatcher_node-1] [INFO] [1618293549.877689313] [scan_matcher]: Inside try of use_odom_ odom_frame_id= odom,robot_frame_id =base_link
[scanmatcher_node-1] [INFO] [1618293549.877777252] [scan_matcher]: Inside catch of use_odom_ true
[scanmatcher_node-1] [ERROR] [1618293549.877993974] [sc

[2021-04-19 12:22] christophTUM opened #26 "ScanMatcher PointCloud Error. Failed to build."
Hello,
i want to build the package lidarslam_ros2 on Ubuntu 20.04 (Focal Fossa) with ndt_omp_ros2 and g2o installed but i get the following error:

`/home/christoph/IAC/mod_map_loc/LiDAR_SLAM/lidarslam_test_build/lidarslam_ros2/src/scanmatcher/src/scanmatcher_component.cpp:488:32: error: no matching function for call to ‘rclcpp::Publisher<sensor_msgs::msg::PointCloud2_<std::allocator<void> > >::pu

[2021-04-27 11:36] rsasaki0109 commented on #26
I see your error, you're probably using a package from the ros2-dashing branch, please use a package from the ros2-foxy branch.

ros2 dashing
https://github.com/rsasaki0109/lidarslam_ros2/blob/dashing/scanmatcher/src/scanmatcher_component.cpp#L488
ros2 foxy
https://github.com/rsasaki0109/lidarslam_ros2/blob/foxy/scanmatcher/src/scanmatcher_component.cpp#L488

[2021-05-12 03:28] girvenavery2022 opened #27 "Input data"
Hello,
I have a question regarding the slam algorithm. For this package to work, does it take in raw Lidar data? Or does it take in point clouds that has already been filtered?

[2021-05-12 04:09] rsasaki0109 commented on #27
this package take in raw Lidar data

[2021-05-12 08:20] AvinashRamashray opened #28 "base_link is jumping."
Hi Sasaki san

Thank you for your help.
I have one query regarding base_link jump.
I am not using odom (flag use_odom = false.) and when I am performing  slam
base_link is jumping randomly.

Bug can be seen after 1:02 minute of video.
Can you please tell what could be the reason for that?
What I am missing here?

For this behavior I am sharing  video link
https://www.youtube.com/watch?v=5PK0N8X5Hg

[2021-05-12 09:01] rsasaki0109 commented on #28
Hello.
Probably the ndt scan matching is failing.
Since ndt_num_threads is 2, you might want to increase it, or get the rosbag and run it with rosbag set to x0.5, x0.25, etc.

[2021-05-12 09:10] rsasaki0109 commented on #28
Also, changing the ndt_resolution and voxel grid filter parameters may help.
Is the environment indoors or outdoors?

[2021-05-12 09:11] AvinashRamashray commented on #28
For now it is indoor........moving my lidar around table

[2021-05-12 19:48] rsasaki0109 commented on #28
Indoors, many of the parameters related to ndt are too large.
For example, the following may improve the behavior. (The following is not the best)
ndt_resolution: 1.0
trans_for_mapupdate: 0.5

Also, this package adds a map every certain distance (trans_for_mapupdate), so if lidar just arounds the table, the map may not be done well.

[2021-05-12 19:52] #24 closed, assigned to rsasaki0109

[2021-05-13 09:28] AvinashRamashray commented on #28
Thank you for this information.

Used parameters for indoor environment:
ndt_resolution: 1.0
ndt_num_threads: 5
trans_for_mapupdate: 0.2
voxel_leaf_size: 0.1

Result: - I tried above settings and outcome is better than previous result.

So still looking for better results.
I am trying more number of iterations.

[2021-05-24 00:32] #27 closed, assigned to rsasaki0109

[2021-05-27 03:08] #28 closed, assigned to rsasaki0109

[2021-05-27 03:09] AvinashRamashray commented on #28
Closing this issue.Thanks

[2021-06-18 18:31] girvenavery2022 opened #29 "TF issue"
Hello again,
I am running into some issues with the slam package. when I launch my robot in gazebo/rviz everything checks out, but issues arise when I launch the slam package. The terminal that I launch my robot in and the terminal I launch slam in gives me an error saying:
          [rviz2-9] Warning: TF_OLD_DATA ignoring data from the past for frame base_footprint at time 289.900000 according to

[2021-06-18 22:58] rsasaki0109 commented on #29
Hmm...
Sorry, I'm not familiar with tf and gazebo, so I'm not sure what the cause is.

If you ask a question in ros answer, you may get an answer.
https://answers.ros.org/questions/

[2021-06-18 23:06] rsasaki0109 commented on #29
I used the following rosbag to incorporate odom, and you may want to refer to it.
https://drive.google.com/file/d/1Y6KR9FUQggcyhvGsnkv7zpYQGvc7dQR_/view

[2021-06-18 23:07] rsasaki0109 commented on #29
I used the following rosbag to incorporate odom into this package, and you may want to refer to it.
https://drive.google.com/file/d/1Y6KR9FUQggcyhvGsnkv7zpYQGvc7dQR_/view

[2021-06-23 03:29] girvenavery2022 commented on #29
I was able to resolve that issue but another issue surfaced. I updated some other branches in my work space and now the "num_submaps" are 1 and the "moving distance" is 0 even though i drive my model around. would this be caused by an issue with the libg2o library or a configuration issue with my tf frames or mappings?

[2021-06-26 04:03] rsasaki0109 commented on #29
Is the point cloud being properly input to the lidarslam package?
You might be able to find out what the problem is by setting the debug_flag of scan_matcher to true.
https://github.com/rsasaki0109/lidarslam_ros2/blob/foxy/lidarslam/param/lidarslam.yaml#L28

[2021-06-28 03:19] girvenavery2022 commented on #29
Yeah I had the enabled and the final transformation matrix is reflecting changes from gazebo. I have confirmed it is at least being provided a tf transformation from base_link to laser_link.
I will provide a picture of what the debug flag is showing.
![258D65DC-4754-4C88-B45E-F02C37B8F284](https://user-images.githubusercontent.com/69600850/123574283-9126ab80-d79d-11eb-897c-1792170eefdf.jpeg)

[2021-06-28 09:23] rsasaki0109 commented on #29
I think "number of filtered cloud points" is too small, can you show me the yaml file?

[2021-06-28 20:53] girvenavery2022 commented on #29
yeah I can show you the yaml file. I will also include the launch file. in the launch file, I have removed the tf transformation from base_link to lidar link because my robots urdf already provides that transformation.
![Screenshot from 2021-06-28 16-51-59](https://user-images.githubusercontent.com/69600850/123702483-2fb01c80-d831-11eb-90e6-b1661433d5b2.png)
![Screenshot from 2021-06-28 16-51-50](

[2021-06-28 22:28] rsasaki0109 commented on #29
It is recommended to make vg_size_for_input much smaller.

[2021-06-28 23:07] girvenavery2022 commented on #29
I just decreased the vg size and it increase the number of filtered point clouds by a lot but I am still running into the issue.
![Screenshot from 2021-06-28 19-06-00](https://user-images.githubusercontent.com/69600850/123714330-19f82280-d844-11eb-87b1-866b98a06769.png)
![Screenshot from 2021-06-28 19-05-54](https://user-images.githubusercontent.com/69600850/123714342-1ebcd680-d844-11eb-8a85-224dd

[2021-06-28 23:15] rsasaki0109 commented on #29
0.05 is too small.
A vg_size_input of 0.5, 1.0, etc. is better. (or 0.25?)
Also, is the environment outdoors or indoors?
If outdoors, I often use 2.0 for ndt_resolution.
If you can show me a picture of your scan visualization, I may be able to advise you better.

[2021-06-28 23:53] girvenavery2022 commented on #29
I just increased it to .25. The environment the package is used in will be outdoors. yeah i can definitely show you that.
The first picture shows you what rviz2 is displaying from the pointcloud2 topic( /mammoth/filtered_points) and the second picture shows the gazebo world i put together.
![Screenshot from 2021-06-28 19-48-58](https://user-images.githubusercontent.com/69600850/123717129-37c88600-

[2021-06-29 00:36] rsasaki0109 commented on #29
The irradiation range of the lidar is narrow, so if possible, the sensor position should be reviewed to increase the irradiation range more (ideally 360 degrees).
Also, there are few obstacles. This may be causing the scan matching to fail due to the low amount of features.

[2021-06-29 02:04] girvenavery2022 commented on #29
would there be any other causes for the scan matcher to fail? I increased the irradiation range to 360 degrees and added significantly more obstacles and still nothing:(
![Screenshot from 2021-06-28 22-01-31](https://user-images.githubusercontent.com/69600850/123725648-6fd8c480-d85c-11eb-9c70-2563176a4c97.png)

[2021-06-29 02:45] girvenavery2022 commented on #29
so i was able to get it working just once. it looked like it updated once while it was running because the num_of_sub maps changed to 13, the distance went to 29m, and the map topic published its point clouds. so its like the scan matcher is getting stuck somewhere or a param is telling it to wait(map_publish_period?), i just don't know what.

[2021-06-29 10:43] rsasaki0109 commented on #29
I checked the parameters, but you might want to increase the ndt_num_thread in scanmatcher.
Also, you may want to adjust vg_size_for_map to 0.05 or 0.1.

[2021-06-29 12:23] rsasaki0109 commented on #29
If you upload the rosbag, I can analyze it.

[2021-06-29 22:30] girvenavery2022 commented on #29
I recorded the topic for the lidar and put it in a rosbag, I also recorded the map topic as well as the modified map topic and put them in a bag. during the recording, the scanmatcher started working for a second so i have 2 bags for the map topic. one for the time it worked and one for the time it didn't work.

rosbag for the lidar topic:
[rosbag2_2021_06_29-17_52_36.zip](https://github.com/rsasa

[2021-07-04 23:16] rsasaki0109 commented on #29
Sorry, I've been busy and don't have a pc for ros2 on hand, so it will take some time to analyze.

[2021-07-06 22:04] girvenavery2022 commented on #29
It’s okay! I’m trying to debug it as well and I’ll let you if I get anything new. Thanks for letting me know though!

[2021-08-19 02:41] #26 closed, assigned to rsasaki0109

[2021-08-19 02:42] rsasaki0109 commented on #26
Since there seems to be no response, I will close this isuue. If you have any more problems, please open it again.

[2021-09-28 23:48] girvenavery2022 commented on #29
Hi, I just wanted to let you know I ended up fixing the problem. One of my nodes downstream to the lidarslam node was using system time while the other half of the architecture was using simulation time. so I guess this was upsetting the slam package. Thank you for all of your help

[2021-10-13 12:27] goksanisil23 opened #30 "Expected Performance with Ideal Pose"
Hi,

Firstly thanks for providing this package, especially in ROS2.

My question is about usage of ideal odometry data (and the corresponding tf) for mapping purposes.

The odometry data I'm using is "ideal" in the sense that its from an RTK system with centimeter accuracy. I'm not using IMU data. However when the pose from the SLAM algorithm is updated with the pose from pointcloud matching, I ca

[2021-10-24 09:03] rsasaki0109 commented on #29
Sorry I haven't been able to work on this issue (I've been a bit unable to work on OSS activities lately...) and I'm glad to hear that the problem has been solved.

Since the problem seems to have been resolved, I will close this issue.

[2021-10-24 09:03] #29 closed, assigned to rsasaki0109

[2021-10-24 09:16] rsasaki0109 commented on #30
Thank you for your interest in this package. Unfortunately, it is currently not possible to use RTK-GNSS well with this package.

If someone could provide me with sample data, I could develop a RTK-GNSS combined function.

[2022-02-25 09:14] Alphastrick opened #32 "Stacking map and not detection of horizontal translation"
I try to use slamming for a robot, but moving it will create some strange results.

Moving the robot vertically works fine, as lone as the robot does not move more than 5 meters at once. The transformation will be published correctly.
However moving it in horizontal direction the slamming will not match the input pointclouds.

Also if the map is visualized, the map looks like all inputs are stacke

[2022-03-03 08:00] shineyruan commented on #32
I got the same problem. Really looking forward to a solution.

[2022-03-03 09:56] rsasaki0109 commented on #32
Can you please provide rosbag the problem occurs?

[2022-03-03 10:34] shineyruan commented on #32
Please take a look at this bag file: https://drive.google.com/drive/folders/1YhOkbZCRT3qyiIVc96_xJ-PSmSiQFvDr

[2022-03-03 11:06] rsasaki0109 commented on #32
@shineyruan

The first image shows a map made pcd by "ros2 service call /map_save std_srvs/Empty" and displayed by cloudcompare.
The second image is the rviz screen.
It seems that rviz is displaying something wrong. I had no problem with ros2 foxy, but I confirmed this problem with ros2 galactic. I'll try to find the cause.
![image](https://user-images.githubusercontent.com/18298605/156554872-831e

[2022-03-03 11:22] rsasaki0109 commented on #32
The following parameters would be good.
[code]

[2022-03-11 08:16] Alphastrick commented on #32
@rsasaki0109

Can you confirm that it is only some visualization bug? Unfortunately, I can not provide a bag file with my specific use case.

[2022-03-11 08:48] rsasaki0109 commented on #32
@Alphastrick
If the yellow path (/path ) in rviz looks OK, then it is a visualization problem.
Can you confirm what the trajectory of /path is in rviz?

[2022-03-11 08:52] rsasaki0109 commented on #32
Also, the ndt parameters need to be changed, such as whether the measurement environment is indoors or outdoors, and the slam may be failing due to improper parameters.
The parameters in the sample(https://github.com/rsasaki0109/lidarslam_ros2/tree/foxy/lidarslam/param) are for outdoor use. If you are indoors, you may want to try the parameters listed above.
https://github.com/rsasaki0109/lidarsla

[2022-04-06 07:30] khalisfadil opened #33 "can you provide a citation?"

[2022-04-11 02:19] rsasaki0109 commented on #33
I have not written a paper about lidarslam_ros2, so there is nothing that can be cited.

[2022-04-18 23:06] rsasaki0109 commented on #25
Sorry for the delay but I will respond.
I'm a little unclear. It appears to be a tf issue, not lidarslam_ros2
It's a tf issue so I think it's better to ask at ros answers.
https://answers.ros.org/questions/

[2022-04-20 23:34] rsasaki0109 commented on #21
I close this issue because there is no recent activity on this issue.
Please open the issue again if you have any further problems.

[2022-04-20 23:34] #21 closed, assigned to rsasaki0109

[2022-04-20 23:35] rsasaki0109 commented on #20
I am closing this issue because there is no recent activity on this issue.
Please reopen the issue if you encounter any problems.

[2022-04-20 23:35] #20 closed, assigned to rsasaki0109

[2022-04-27 14:41] cshang412 opened #39 "IMU intergration fail"
Everything going smooth with lidar alone mapping , but when set `use_imu: true`,and publish **IMU topic  with 200HZ**, **Lidar 10HZ**, i got error like below:

[code]

Is there any tricks about intergrate IMU to this project?  seems IMU is highly relavant with **time**, should i sync my IMU's time and Lidar's time strictly, Thanks! looking forward for your replying.

[2022-05-01 00:13] rsasaki0109 commented on #39
Is the IMU 6-axis?
This package currently supports only 9-axis IMUs

If not, the terminal output alone does not tell us what the problem is.
Can you provide rosbag?

[2022-05-07 14:13] cshang412 commented on #39
Thanks for your reply.
Yes, It's 9-axis IMU , Here is the [ros2 bag ](https://drive.google.com/drive/folders/1jDW1jdpFIF3TQ4poORIGb1IGHzxSULUa)

[2022-05-07 23:30] rsasaki0109 commented on #39
Do you know the tf between imu and lidar? Also, for the imu compound is referring to lego_loam, that could be a reference.
https://github.com/RobustFieldAutonomyLab/LeGO-LOAM

[2022-05-08 06:39] cshang412 commented on #39
Sorry, i forgot about that,
Here is TF(imu is 0.94m lower than lidar)
**extrinsicTrans:  [ 0.0204919,  0.00745582,  -0.94 ]**
**extrinsicRot: [1.0, 0.0, 0.0,
                    0.0, 1.0, 0.0,
                    0.0, 0.0, 1.0]**
    **imuAccNoise: 6.1411237845862649e-03
    imuGyrNoise: 4.1727751978347269e-04
    imuAccBiasN: 2.4105859025256234e-04
    imuGyrBiasN: 1.4751283004207574e-05**

   BT

[2022-05-08 09:19] rsasaki0109 commented on #39
Fixing the bug about imu in lidarslam_ros2 is going to take a bit of time.

I have confirmed that li_slam_ros2 works with your rosbag, so please use that one.
https://github.com/rsasaki0109/li_slam_ros2

[2022-05-12 06:49] sweetquiet opened #40 "why g2o setFixed is lastest pose ?"
https://github.com/rsasaki0109/lidarslam_ros2/blob/f11cd369b6b7160e6c413a24585a62b8607ba878/graph_based_slam/src/graph_based_slam_component.cpp#L288

Hi, First ,Thanks for your great work! Why does g2o fix the latest pose instead of the first pose, what is the difference between them? Looking forward to your reply。 thanks。

[2022-05-12 07:20] rsasaki0109 commented on #40
This is for personal reasons, as I didn't want the latest pose to be discontinuous in graph optimization when applying this package to my robot.

[2022-05-12 14:46] sigridmellemseter opened #41 "Can not echo map_array topic"
Hi,
I am trying to echo the map_array topic to get som more information about it. But i get the following error message:
[code]
I cant find the msg type in the interface list either.. I am kind of new to ROS, is there something I am missing?

[2022-05-12 14:54] sweetquiet commented on #40
Thanks for your reply, thanks, I will close this question

[2022-05-12 14:54] #40 closed, assigned to rsasaki0109

[2022-05-12 19:32] khalisfadil opened #42 "idea: Scanmathing pose publish with a constraint in roll and pitch."
Dear Mr. Rsasaki,

I have some question regarding the pose that publish by scanmatching node. I have been thinking about the relation between the limitation and constraint in translation "Z",  orientation "pitch", orientation "roll" with the final pose SLAM output result.

If there is a limit in selected particular movement, can it help to improve the overall SLAM performance.

to put the constrai

[2022-05-12 19:33] rsasaki0109 commented on #41
You must enter 「source  <workspace-where-lidarslam_ros2-was-built>/install/setup.bash」 before doing 「ros2 topic echo」

[2022-05-12 19:39] sigridmellemseter commented on #41
Thanks for your reply! That worked

[2022-05-12 19:39] #41 closed, assigned to rsasaki0109

[2022-05-12 22:15] rsasaki0109 commented on #42
I think it is possible and not a bad idea, but I do not know if that idea is actually effective.

[2022-05-16 08:02] felrock opened #43 "map->odom transform"
Hello, is it possible to extract map->odom transform with a few changes?

[2022-05-16 08:08] rsasaki0109 commented on #43
This can be done using the lookupTransform function of tf2_ros::Buffer.

[2022-05-16 09:16] felrock commented on #43
I don't see anywhere in graphbasedslam where you get the correction from adding a pose, usually that is the map transform right?  Also another question if you have the time, both scan-matcher and graph-based-slam have a ndt/gicp registration, why not let scan-matching do scan matching and graph-based-slam only do graph-optimizations?

[2022-05-16 09:57] rsasaki0109 commented on #43
Indeed it is. I'll fix it.

This is confusing my package name, but since scan-matching is lidar odometry with ndt/gicp and graph-based-slam is loop detection with partial map matching and graph optimization with g2o, this configuration is common in other SLAMs.

[2022-05-19 12:38] felrock commented on #43
Thanks for the info!

[2022-05-19 12:38] #43 closed, assigned to rsasaki0109

[2022-08-12 10:02] oskarmue opened #45 "Question for providing odometry"
Lidarslam_ros2 is working great for us, thank you for that!
But when moving outside, there are moments, when lidarslam looses its track and especially when returning to the same point the build map is wrong. (as in picture below)
Therefore, we wanted to add odometry. When doing that, is lidarslam then relying on the provided odometry for 100% or is it just complementary
![Screenshot from 2022-08-0

[2022-08-17 13:53] oskarmue commented on #43
Hey sorry I am still a bit confused on how to receive map --> odom.
@felrock did you do this somewhere in your fork, if so I couldnt find it?

[2022-08-18 01:07] rsasaki0109 commented on #45
Adding odometry will cause the initial position for scan matching to use the value estimated by odometry.
This improves the accuracy of scan matching and reduces the likelihood of estimation failure.

[2022-08-18 01:29] rsasaki0109 commented on #33
Close this issue. Please contact me if you have any further problems.

[2022-08-18 01:29] #33 closed, assigned to rsasaki0109

[2022-08-18 01:31] rsasaki0109 commented on #32
I will close this issue at once. Please contact me if you have any further problems.

[2022-08-18 01:31] #32 closed, assigned to rsasaki0109

[2022-08-18 01:32] rsasaki0109 commented on #25
I will close this issue at once. Please contact me if you have any further problems.

[2022-08-18 01:32] #25 closed, assigned to rsasaki0109

[2022-08-18 11:39] felrock commented on #43
Hi, so map->odom tf is not available, but in short it's the vector that is produced by alignment. So the correction.

So this vector here: https://github.com/rsasaki0109/lidarslam_ros2/blob/991441b9e63eb42e49d44d63a74b61cd4cafbc8e/scanmatcher/src/scanmatcher_component.cpp#L342

is what i believe is the map->odom tf

Please let the author or someone else confirm this first

[2022-08-28 18:37] #45 closed, assigned to rsasaki0109

[2022-08-30 03:08] SyahirMuzni opened #46 "Failed to build lidarslam_ros2"
System:
- Ubuntu 20.04 Focal Fossa

I was building lidarslam_ros2 with ndt_omp_ros2 installed. But failed to build the scanmatcher & graph_based_slam because there is no g2o. The error is stated as below:
"CMake Error at CMakeLists.txt:33 (find_package):
  By not providing "Findg2o.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "g2o", bu

[2022-08-30 03:49] rsasaki0109 commented on #46
Install g2o with the following command.
[code]

[2022-08-30 03:50] rsasaki0109 commented on #46
The CI of this package installs the dependent packages with rosdep.
https://github.com/rsasaki0109/lidarslam_ros2/blob/foxy/.github/workflows/main.yml#L40-L41

[2022-08-30 07:31] SyahirMuzni commented on #46
Still fail to build. Maybe because I am using the Galactic distro that might not suitable with the package which is (foxy). For your information, I have built the Autoware in my system in Galactic. So is it possible to use this package?

[2022-08-30 07:47] rsasaki0109 commented on #46
Oh, sorrry. I was mistaken. This package is also available for ros2 galactic.
Install g2o with the following command.

[code]

[2022-08-30 08:03] SyahirMuzni commented on #46
Ok. Thank you. It is done!

[2022-09-01 05:05] SyahirMuzni commented on #46
Hi.
I tried to run the command 'ros2 launch lidarslam lidarslam.launch.py'

But I encountered this error:
'Package 'lidarslam' not found: "package 'lidarslam' not found, searching: ['/opt/ros/galactic']'

For your information, I have successfully built the lidarslam package.

Really appreciate your help.

[2022-09-01 05:42] rsasaki0109 commented on #46
In ROS2, the following command must be entered to use a built package.
[code]

[2022-09-07 05:32] SyahirMuzni commented on #46
Ok thank you for your quick response. I will close this issue

[2022-09-07 05:32] #46 closed, assigned to rsasaki0109

[2022-09-13 07:18] SyahirMuzni opened #49 "scanmatcher node-1 error after launch"
**OS and Version: [Ubuntu 20.04]
ROS Version: [Galactic]**

*The goal:*
To create a road map.

*The issue:*
Error when launched Lidarslam. The error --> [scanmatcher_node-1] [ERROR] [1663050603.996330287] [scan_matcher]: "odom" passed to lookupTransform argument target_frame does not exist.

*Steps to reproduce the behavior:*
- source /opt/ros/galactic/setup.bash
- ros2 launch velodyne velodyne-al

[2022-09-14 00:20] rsasaki0109 commented on #49
You are not using Odometry, are you?
If use_odom is set to true in the yaml you are using, you need to set it to false.

https://github.com/rsasaki0109/lidarslam_ros2/blob/foxy/lidarslam/param/lidarslam.yaml#L27

[2022-09-14 03:01] SyahirMuzni commented on #49
Got it! Thank you very much!

[2022-09-14 03:01] #49 closed, assigned to rsasaki0109

[2022-09-15 04:45] SyahirMuzni opened #50 "Editting PCL"
Hi!
I just want to ask if I can edit or remove unwanted data from the point cloud data. Are there any tools for that?

[2022-09-15 09:31] rsasaki0109 commented on #50
If you want to edit a point cloud, you can use [PCL](https://github.com/PointCloudLibrary/pcl).

[2022-09-15 18:25] rsasaki0109 commented on #50
This is a place to report lidarslam_ros2 issues, not a question place about pointcloud, so please be careful next time.

[2022-09-15 18:25] #50 closed, assigned to rsasaki0109

[2022-09-19 04:12] SyahirMuzni opened #51 "Map produced not aligned on loop road"
Hi!

I have successfully gotten the map data using the lidarslam. But, there is an issue, I noticed that the map is not aligned when I tried to record it on a loop road (you may see the line in the red circle is not aligned). But when I record it on a non-looping road, it works just fine. How can I resolve this issue?

Thank you.

![not aligned](https://user-images.githubusercontent.com/94072577/1

[2022-09-19 10:45] rsasaki0109 commented on #51
Is it possible to have your rosbag provided?

[2022-09-19 23:30] rsasaki0109 commented on #51
I would appreciate information on the type of lidar you used and the yaml file.

Also, how many meters are there from the loop start to the loop end?
With LiDAR only, sometimes it is difficult to close a loop over a long distance, and you may want to use Wheel Odometry.
If you do not have Wheel Odometry, I recommend using the following package, which also requires IMU.
https://github.com/rsasaki01

[2022-09-20 05:24] SyahirMuzni commented on #51
Here is the link of the ros2 bag and yaml file as you requested.
[https://drive.google.com/file/d/1727BwiDbq9OzKh88HWXv_bE_lJSz86sT/view?usp=sharing](url)
[https://drive.google.com/file/d/1BnLPt1LPNYim5uqHsOd4dShrx96x4_Fo/view?usp=sharing](url)

For your information, I am using Velodyne VLP-16 and the start and end of the loop is at the same point.

Also, are you suggesting me that I have to use t

[2022-09-20 05:58] rsasaki0109 commented on #51
~The url you provided does not seem to be appropriate; clicking on the url will take me to the following~
Oops, I copied and pasted and it worked.

~https://github.com/rsasaki0109/lidarslam_ros2/issues/url~

lio_bigloop.launch.py makes it easier to close loops over longer distances than this package
But first I will check to see if this package can also close the loop with your data, so please wai

[2022-09-20 06:39] rsasaki0109 commented on #51
I have looked at the data and the distances are long enough to be acceptable for this package.
I think there is a bug in the loop closure, so please wait a little while until it is addressed.

[2022-09-20 09:28] rsasaki0109 commented on #51
The bug has been fixed in the following PR.

before
![image](https://user-images.githubusercontent.com/18298605/191224072-62715d38-bfa3-471f-b06a-e8e3967e7296.png)
after
![image](https://user-images.githubusercontent.com/18298605/191221383-6bf9e06a-a6d5-42bd-8f9d-f5cf2a77b461.png)
PR
https://github.com/rsasaki0109/lidarslam_ros2/pull/52

[2022-09-20 09:52] rsasaki0109 commented on #40
This specification has been changed due to the following problems.
https://github.com/rsasaki0109/lidarslam_ros2/issues/51

[2022-09-20 13:40] SyahirMuzni commented on #51
Great! I tried to record two loop maps. It worked!

[2022-09-20 13:40] #51 closed, assigned to rsasaki0109

[2022-09-23 04:23] SyahirMuzni opened #53 "Max distance (km) for mapping"
Hi! I have an issue while recording a larger map using *lidarslam.yaml.* The desired route is about **6.2km long.** So, the mapping stopped somewhere while I was recording it [https://drive.google.com/file/d/17_C7tcCxtObeyDzwouvG9QjKfip85lPi/view?usp=sharing](url)

I believe there is a limit in the yaml file right? If it is so, is it can be solved if I use the *lidarslam_tukuba.yaml*?

[2022-09-23 07:06] rsasaki0109 commented on #53
As long as this package can store the pcd data in memory, it can be mapped with scan matching.
(I have only tried loop close with 2-3km of data...)

It seems that NDT scan munging is failing. I think lidarslam_tukuba.yaml also fails because the NDT parameters are the same as lidarslam.yam.
Suggested solutions are as follows
・Tune NDT parameters (ndt_resolution between 1~5, vg_size_for_input, vg_si

[2022-09-29 03:03] SyahirMuzni commented on #53
I'm sorry I can't provide you the rosbag at the moment. But, those suggestions are make sense to me. Let say I want to add IMU, so I have to use *li_slam* instead of *lidarslam* right?

[2022-09-29 05:47] rsasaki0109 commented on #53
Yes.

Sad. If you can, give me a video of the rviz of the scan at the time and I might be able to figure out the problem.

[2022-09-29 09:04] SyahirMuzni commented on #53
I will give you the rosbag soon but not at the moment. I still want to contribute to your work as well as I want the best results for my work.

[2022-10-05 02:53] SyahirMuzni commented on #53
Hi there,

I have acquired the rosbag for my problem.
[https://drive.google.com/file/d/1Vakv6shABeRXbnqPA83424o1bLOZ4fZ2/view?usp=sharing](url)

**Tools:**
1. Lidar: Velodyne VLP-16
2. GNSS/IMU: XSens MTI-G-710

**Issues:**
1. Lidarslam crashed in the mid-way.
2. The elevation of the pointcloud is not accurate. Is the data obtains the x, y, z information?

[2022-10-06 02:01] rsasaki0109 commented on #53
In my environment, the scan matching using only lidar failed occasionally and the loop did not close, but I was able to complete the scan matching.
It will take some time, but I will look into a few things to close the loop.

The reason lidarslam crashed on your PC could possibly be that your PC's CPU memory is small and could not hold the point cloud.
Or maybe the low GPU memory made the rviz/PC

[2022-10-06 02:44] SyahirMuzni commented on #53
Here are some more details about the issue even I am not visualizing the point cloud

![error](https://user-images.githubusercontent.com/94072577/194204868-cad61786-5960-489f-9de4-c3a0482414d1.png)

![error_map](https://user-images.githubusercontent.com/94072577/194202362-0f474768-96ef-4f20-9164-ed74abb8a124.png)

[2022-10-06 03:04] rsasaki0109 commented on #53
It seems to be the same as my environment. Scan matching is failing in places.

[2022-10-17 02:26] rsasaki0109 commented on #53
I'm sorry. I have been busy lately and it will take some time to get lidarslam_ros2 to close this loop.
If you are in a hurry, please use li_slam_ros2.

[2022-11-08 23:21] Marouan-22 opened #54 "Colcon build Fail!"
Hi,

I am trying to build the repo, but it gives me some type of error where I don't know the solution for! Does anyone know something about it and can help me pls?

Greetings

![image](https://user-images.githubusercontent.com/61140897/200697160-d959730d-1ace-4534-a3d2-abcd25502941.png)

[2022-11-08 23:26] rsasaki0109 commented on #54
Perhaps you forgot to add the --recursive option when you did the git clone.
In that case, run `git submodule update --init --recursive` in the lidarslam_ros2 directory.

[2022-11-08 23:40] Marouan-22 commented on #54
Thanks for the super fast reply!!!
I have builded it again, than it gives me some spam error like this:

In file included from /usr/include/eigen3/Eigen/Core:271,
                 from /usr/include/pcl-1.12/pcl/memory.h:48,
                 from /usr/include/pcl-1.12/pcl/pcl_base.h:46,
                 from /usr/include/pcl-1.12/pcl/filters/filter.h:42,
                 from /usr/include/pcl-1.12/

[2022-11-08 23:45] rsasaki0109 commented on #54
Is your ubuntu 22.04?
If so, you need to use the humble branch(https://github.com/rsasaki0109/lidarslam_ros2/tree/humble), not the default foxy branch(https://github.com/rsasaki0109/lidarslam_ros2).

[2022-11-09 00:00] Marouan-22 commented on #54
it still does not do the trick but it gives me this:

In file included from /usr/include/x86_64-linux-gnu/c++/11/bits/c++allocator.h:33,
                 from /usr/include/c++/11/bits/allocator.h:46,
                 from /usr/include/c++/11/string:41,
                 from /usr/include/c++/11/bits/locale_classes.h:40,
                 from /usr/include/c++/11/bits/ios_base.h:41,

[2022-11-09 00:07] rsasaki0109 commented on #54
Did you delete install/log/buid before building? If not, please delete it and then build.

[2022-11-09 12:15] Marouan-22 commented on #54
hi, I did that and still gives me some what the same error as before?

[2022-11-09 20:13] rsasaki0109 commented on #54
Hmmm... Any idea what your environment might be different from the standard environment?
For example, did you upgrade the version of cmake? Or are you running ubuntu on wsl, or installing Ubuntu with raspberry pie or jetson?

[2022-11-09 20:17] Marouan-22 commented on #54
it is a standard environment in ubuntu (VMware Workstation 16 Player).
The cmake version that I am using is 3.22.1 supported by Kitware.

Am I missing something?

[2022-11-09 23:20] rsasaki0109 commented on #54
Maybe the virtual environment is the problem, maybe you installed some software otherwise and it's corrupting the environment, I'm just not sure.
I can only advise you to debug this environment problem yourself (seems like a lot of work) or build in a clean environment or build on a ubuntu-only pc.

[2022-11-10 07:37] Marouan-22 commented on #54
I installed a new virtual machine and I am trying to install ROS2 Humble, but if I run the command "sudo apt install ros-humble-desktop" it says that it is unable to locate package ros-humble-desktop

[2022-11-10 08:53] rsasaki0109 commented on #54
If you try to install as per the instructions below and can't, I don't know.
https://docs.ros.org/en/humble/Installation/Ubuntu-Install-Debians.html
It may be a problem specific to virtual environments, but I have only used docker for virtual environments.

[2022-11-10 14:12] Marouan-22 commented on #54
hi  :-),   I have switched to Foxy it has better results, but if I do the colcon build again for the repo. it gives me an CMAKE Error from graph_based_slam. Do you know why? And I am very thankfull that you take the time to help me!

![image](https://user-images.githubusercontent.com/61140897/201113543-0e85260f-7c8e-4add-9253-330e475bb545.png)

[2022-11-10 18:40] rsasaki0109 commented on #54
Dependent packages are not installed.
Enter the following command.

[code]

[2022-11-10 22:54] Marouan-22 commented on #54
it helped for the graph_based_slam but the scanmatcher says there is fatal error and the compilation has been terminated? Is it because I don't have enough RAM? I have actually set it on  5.6gb  (MAX) bc my pc is 8gb RAM.

![image](https://user-images.githubusercontent.com/61140897/201212141-559198ff-cf39-410f-aebf-9cb0e88ae0cb.png)

[2022-11-10 23:53] rsasaki0109 commented on #54
8gb RAM is not much.At least 16gb is required. Maybe.

[2022-11-13 14:43] Marouan-22 commented on #54
I bought a new RAM it works smooth like butter ! thx for the tip!
But now I face another problem, if I start my rviz and add the map plugins and put "map" in my fixed frame it says that "Frame [map] does not exist"? do you have any idea about it?

[2022-11-13 23:41] rsasaki0109 commented on #54
Probably the same issue as the following issue.
https://github.com/rsasaki0109/lidarslam_ros2/issues/49

[2022-11-16 19:54] Marouan-22 commented on #54
![image](https://user-images.githubusercontent.com/61140897/202280114-3659060f-8d5f-4888-906e-60056836d79a.png)
hi, it still doesn't work :( it tried the commands that I must execute and switched in my yaml from false to true and true to false.

[2022-11-16 20:01] OforiDarren opened #55 "Failed <<< ndt_omp_ros2 [1min 5s, exited with code 2]"
Hi, I'm trying to "colcon build" your humble package that I got from your github. When I try building theapplication I get this error + a lot of code errors as well. Is this code optimized for humble and if so what am I doing wrong since I just cloned the github humble repo.
Version: Ubuntu 22.04, Humble.

![afbeelding](https://user-images.githubusercontent.com/69010858/202279664-dbc4df92-ac7d-4ab

[2022-11-17 00:41] rsasaki0109 commented on #54
Are you sure you have the input point cloud topics set up correctly?
https://github.com/rsasaki0109/lidarslam_ros2/blob/foxy/lidarslam/launch/lidarslam.launch.py#L21

If the above is OK, what about terminal output?

[2022-11-17 01:04] rsasaki0109 commented on #55
Is the `~/ros2_ws/src/lidarslam_ros2/Thirdparty/ndt_omp_ros2` branch humble?
https://github.com/rsasaki0109/ndt_omp_ros2/tree/humble
(https://github.com/rsasaki0109/ndt_omp_ros2/tree/41bdfba)
You can check the branch with `git status` at  `~/ros2_ws/src/lidarslam_ros2/Thirdparty/ndt_omp_ros2`.

It is also necessary to enter `source ~/ros2_ws/install/setup.bash` in the terminal to be started before

[2022-11-17 08:11] OforiDarren commented on #55
Okay I checked the branche and it gives me this "HEAD detached at af67849" This makes me think that it doesn't have the humble branche since it doesn't match your "[41bdfba]". Should I remove the branche and git clone this one https://github.com/rsasaki0109/ndt_omp_ros2/tree/humble at the same folder location?

[2022-11-17 08:39] Marouan-22 commented on #54
![image](https://user-images.githubusercontent.com/61140897/202397296-a3a90f2f-f7c5-47d0-a1ee-0885935c8408.png)
![image](https://user-images.githubusercontent.com/61140897/202397453-f693c210-a21d-42cb-ba02-49908c8108ee.png)
hi :), This is what I have on my terminal and topics in my rviz

[2022-11-17 08:40] rsasaki0109 commented on #55
That's right.

[2022-11-17 08:44] rsasaki0109 commented on #54
What are the results of `ros2 topic info -v <input_pointcloud_topic>`?

[2022-11-17 08:45] rsasaki0109 commented on #54
The following may be the reason why you could not build with ros2 humble.
https://github.com/rsasaki0109/lidarslam_ros2/issues/55

[2022-11-17 08:53] Marouan-22 commented on #54
![image](https://user-images.githubusercontent.com/61140897/202400476-fc21b4cb-8aa4-4939-847a-ac116fed6fbb.png)
This is the result?

[2022-11-17 09:05] rsasaki0109 commented on #54
I am talking about the input 3d lidar scan(for example, points_raw and velodyne_points), not the map.
I asked the above question because you may not have entered the scan properly in the lidar slam package.

[2022-11-17 09:45] Marouan-22 commented on #54
hi :) , does it actually support RPlidar A1?

[2022-11-17 10:06] rsasaki0109 commented on #54
2d lidar is not supported.
This is the ROS2 package of **3D lidar slam**.

[2022-11-18 14:10] Arnwald opened #56 "Random and silent crashes"
I am testing the nodes with point clouds coming from a Robosense RS16, but the nodes keep crashing randomly without any error message. It just stops and I can't figure why.

Is this behavior normal or am I missing something ?

[2022-11-18 17:39] rsasaki0109 commented on #56
Does your pc have more than 16gb ram?
Even with 16gb ram, crashes may occur when creating large map point clouds. In that case, more ram is needed.

Also, if you don't mind, could you please provide a rosbag?

[2022-11-18 18:20] Arnwald commented on #56
Yes, I have 32Gb and it does not seem to be the origin of the problem (I was monitoring it).

I have to add that I am running the nodes with Galactic.

I tried various parameters but it does not change anything. scanmatcher and graph_based_slam stop listening and publishing, but they don't die and the cpu usage falls to 0.

I will try to do a rosbag next week.

[2022-11-20 13:59] Marouan-22 commented on #54
Sorry to bother you! Is there any repo that works with RPlidar a1 in foxy to built a map?

[2022-11-20 23:56] rsasaki0109 commented on #54
I think the following is the most famous 2d lidar slam for ros2.
https://github.com/SteveMacenski/slam_toolbox

[2022-11-21 13:31] ShaharSarShalom opened #57 "installation failure Imported target "g2o::solver_eigen" includes non-existent path"
I tried to compile the code using the command

`colcon build --symlink-install --cmake-clean-first  --parallel-workers 12  --ament-cmake-args -DPYTHON_EXECUTABLE=$MY_PYTHON_ENV`

I keep on getting this error message

`This may be promoted to an error in a future release of colcon-override-check.
Starting >>> lidarslam_msgs
Starting >>> ndt_omp_ros2
Starting >>> ros2_kitti_publishers
Starting >>> t

[2022-11-21 18:30] rsasaki0109 commented on #57
Perhaps you compile and install g2o?
If you are, that's the problem, install ros-<ROS_DISTRO>-libg2o with apt.

[2022-11-22 10:39] #57 closed, assigned to rsasaki0109

[2022-11-22 10:39] ShaharSarShalom commented on #57
thank you

S

[2022-11-22 11:06] ShaharSarShalom opened #58 "colcon installation failure deu to opengl dependency"
Hi

I'm trying to install the graph_based_slam_node

Colcon keeps on failing due to opengl dependency. I tried installing the opengl libaray, nothing helped.

Here is how I run the colcon command -

`colcon build  --symlink-install --parallel-workers 12 --ament-cmake-args -DPYTHON_EXECUTABLE=$MY_PYTHON_ENV -DCMAKE_BUILD_TYPE=Release`

`CMake Error at CMakeLists.txt:69 (add_executable):
  Target gr

[2022-11-22 15:22] Arnwald commented on #56
Do you need a rosbag of the input data or of the output of the slam node ?

[2022-11-24 00:17] rsasaki0109 commented on #56
I would like it if possible.

[2022-11-24 00:22] rsasaki0109 commented on #58
I'm not sure what the cause is, since graph_based_slam_node has no OpenGL dependencies.
https://github.com/rsasaki0109/lidarslam_ros2/blob/foxy/graph_based_slam/CMakeLists.txt

Is it foxy in your ros environment? Or humble?
The branch of lidarslam_ros2 you are using matches your ros environment?
Also, is your OS ubuntu?

[2022-11-24 06:23] ShaharSarShalom commented on #58
I experience environmental issues.
I work on Ubuntu 20.04, foxy. python 3.8

I cloned the default repository, I believe it would be foxy
I believe there is something in my environment, not your code

[2022-11-24 06:23] #58 closed, assigned to rsasaki0109

[2022-11-24 07:54] Arnwald commented on #56
Please find the rosbags under this link,
https://www.swisstransfer.com/d/c3ad9dfc-8470-4826-acf5-d91c13b2266c

The compressed folder contains both the rosbag of the input data (provided by the node from Robosense: https://github.com/RoboSense-LiDAR/rslidar_sdk) and the rosbag of the outputs of lidarslam.

Here are the parameters that I used:

[code]

I run the nodes under Ubuntu 20.04 with Galacti

[2022-11-24 22:03] rsasaki0109 commented on #56
Hmmm. I tried several times, but in my environment, the crash you refer to did not happen. ~How often did that crash happen to you?
I will make a few more attempts over the weekend.~
![image](https://user-images.githubusercontent.com/18298605/203867502-b79343fc-2710-4164-b18d-45d23527d7f0.png)

my environment
Ubuntu 20.04
ros Galactic

[2022-11-24 23:36] rsasaki0109 commented on #56
After looking at `rosbag2_2022_11_22-16_12_36`(the rosbag of the outputs of lidarslam), I probably found the cause.
I think the scan matching failed due to temporarily heavy processing load.

If you take the following actions, scan matching will be less likely to fail.
・Reduce the playback rate of rosbag( `-r X` option)
・Do not do any other work during SLAM on your PC.
・Adjust ndt_num_threads to t

[2022-11-25 09:29] Arnwald commented on #56
I already tried reducing ndt_num_threads or turning rviz off, but unfortunately it didn't help. I am monitoring the load on the PC and it does not exceed 30% of the total computing power (this is an 8 core i7). Reducing the rate of rosbag doesn't help either.

[2022-11-27 05:30] rsasaki0109 commented on #56
Hmmm.
The information we have now is not enough to determine the cause.
By the way, how often did the crash happen to you?

[2022-11-27 07:32] Arnwald commented on #56
It happens every time I launch it, but after a random time. I don’t understand what is happening either.
I also tried the package LIO-SAM and the exact same problem occurred.

[2022-11-27 07:41] rsasaki0109 commented on #56
Hmmm. The cause seems to be your ubuntu environment or PC, but I am not very knowledgeable in that area.
You might want to change your PC or reinstall ubuntu.

[2022-11-27 07:56] Arnwald commented on #56
I also tried on another PC and I had the same problem. But the PC was the exact same model as mine, so I am planning to try it on a third PC.
I’ll keep you posted.

[2022-11-30 08:27] Arnwald commented on #56
So, I finally found the problem. I was launching the slam nodes and the rosbag separately. I modified the launch.py file to launch the slam nodes, the rosbag and rviz from it, and now everything runs as it should.
Maybe there is something that I don't understand with ROS2, or there is a bug in the messages handling with this kind of usage.